# Express related configuration
PORT=3001

# The project ID where are defined the resources you want to use.
SINCH_PROJECT_ID="Your Sinch Project ID"

# The Access Key ID and secret to authenticate your requests to the Sinch API.
SINCH_KEY_ID="Your Sinch Key ID"
SINCH_KEY_SECRET="Your Sinch Key Secret"

# The region where is configured your SMS service plan.
SINCH_SMS_REGION="The SMS region (e.g.: `us` or `eu`)"

# SMS Service Plan ID related credentials
# if set, these credentials will be used and enable to use other regionsthan only US/EU
#SINCH_SERVICE_PLAN_ID= <Your Service Plan ID>
#SINCH_API_TOKEN= <Your Service Plan Token>
