# The Verification Application ID and secret to authenticate your requests to the Sinch API.
SINCH_APPLICATION_KEY="Your Sinch Voice Application Key"
SINCH_APPLICATION_SECRET="Your Sinch Voice Application Secret"
