name: Test Sinch Node.js SDK

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x, 18.x, 20.x]
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: yarn install
      - run: npx eslint "packages/**/src/**/*.ts"
      - run: npx eslint "packages/**/tests/**/*.ts"
      - run: yarn run build
      - run: yarn run test
